@import "tailwindcss";
@import "@nuxt/ui";

:root {
    --ui-bg: #f8f9fa;
    --ui-primary: #cce831;
    --ui-primary-darken: #a6c015;
    --ui-container: 1366px;
}

@theme {
    --color-primary: #0353a4;
    --color-primary-50: #f0f3ff;
    --color-primary-100: #e0e8ff;
    --color-primary-200: #c0d1ff;
    --color-primary-300: #9ebbff;
    --color-primary-400: #78a5fe;
    --color-primary-500: #458ffe;
    --color-primary-600: #077aec;
    --color-primary-700: #0567c8;
    --color-primary-800: #0353a4;
    --color-primary-900: #012b5b;
    --color-primary-950: #00193a;

    --color-accent-blue: #064eaf;
    --color-accent-red: #ef2b24;
    --color-accent-yellow: #ffd21e;
    --color-accent-red-dark: #d6231d;
    --color-accent-red-darker: #b91d19;
    --color-accent-yellow-light: #ffe066;

    --color-text-dark: #0a0a0a;
    --color-text-secondary: #6b7280;
    --color-border-dark: #111111;
    --color-bg-light: #f8f5ed;

    /*Green Design Colors*/
    --color-accent-green: #cce831;
    --color-dark: #161618;
    --color-white-smooth: #f3f3f3;
}

#__nuxt {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.custom-bg {
    background:
        linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 20px 30px;
    -webkit-mask-image: radial-gradient(ellipse 70% 60% at 50% 0%, #000 60%, transparent 100%);
    mask-image: radial-gradient(ellipse 70% 60% at 50% 0%, #000 60%, transparent 100%);
}

.main-bg {
    @apply bg-[radial-gradient(circle_at_top_right,#1a2e1a_30%,#0d1a0d_70%)];
}

.bg-gradient {
    @apply bg-linear-to-b from-primary-600 via-primary-900 to-primary-950;
}

.main-shadow {
    @apply bg-linear-to-b from-neutral-50 via-neutral-100 to-neutral-200 shadow-md inset-shadow-sm inset-shadow-neutral-300;
}

.text-main {
    @apply text-neutral-600;
}

@keyframes progress-pulse {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.animate-progress-pulse {
    animation: progress-pulse 2s ease-in-out infinite;
}
